<head>
 </head>
 
 <body>
     <div style="margin-left:100px;margin-right:100px">
         <div style="background-color:#ff6600"><b><a href="/">[ASW]</a> Hackers News</b></div>
         <div style="background-color:#f6f6ef;padding-bottom:10px">
             <div style="color:grey;margin-left:10px">
                 <a href=<%= @submission.url %>>
                     <%= @submission.title %>
                 </a>
                 <br>
                  submitted by <a href="/users/<%= @submission.user.id %>">
                    <%=@submission.user.name%></a>
                  <%=( (Time.now() - @submission.created_at)/3600).round %> hours ago 
                  | <%= @comments.length %> comments
              </div>
                  
 
             <div style="margin-left:20px">
                     <form action="/comments" method="POST" id="comment_content_form">
                         <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                         <input type="hidden" name="comment[user_id]" value=<%=@submission.user.id %>> <!--capturar usuari registrat aquí-->
                         <input type="hidden" name="comment[submission_id]" value=<%=@submission.id %>>
                         <textarea name="comment[content]" value="" form="comment_content_form" style="min-width:500px;min-height:100px"></textarea>
                         <br>
                         <input type="submit" value="add comment">
                     </form>
             </div>
             <br>
             <br>
            
               <% @comments.each do |comentari| %>
                <table>
                  <tr>
                    <td><a href="/users/<%= comentari.user.id %>"><%= comentari.user.name %></a>
                    <a href="/comments/<%= comentari.id %>/new_reply">
                      <%=( (Time.now() - comentari.created_at)/3600).round %> hours ago</a></td>
                  </tr>
                  <tr>
                    <td style="color:grey;"> <%= comentari.content %></td>
                  </tr>
                </table>
                <a href="/comments/<%= comentari.id %>/new_reply">reply</a>
                        <%@replies=Reply.where("comment_id=?",comentari.id).order("created_at DESC")%>
                            <% @replies.each do |reply| %>
                                <div style="color:grey;margin-left:20px">
                                    <table>
                                      <tr>
                                        <td><a href="/users/<%= reply.comment.user.id %>"><%= reply.comment.user.name %></a>
                                        <a href="/comments/<%= reply.comment.id %>/new_reply">
                                          <%=( (Time.now() - reply.created_at)/3600).round %> hours ago</a></td>
                                      </tr>
                                      <tr>
                                        <td> <%= reply.content %></td>
                                      </tr>
                                    </table>
                                </div>
                        <% end %>
                <br>
              <% end %>
         </div>
     </div>
 </body> 



<!--
<p id="notice"><#%= notice %></p>

<p>
  <strong>Title:</strong>
  <#%= @submission.title %>
</p>

<p>
  <strong>Url:</strong>
  <#%= @submission.url %>
</p>

<p>
  <strong>User:</strong>
  <#%= @submission.user %>
</p>

<#%= link_to 'Edit', edit_submission_path(@submission) %> |
<#%= link_to 'Back', submissions_path %>
-->