<head>
     <title>Submission <% @submission.id %> | Hackers News</title>
</head>
 
<body>
 <div style="margin-left:100px;margin-right:100px">
     <div style="background-color:#ff6600"><b><a href="/">[ASW]</a> Hackers News</b></div>
     <div style="background-color:#f6f6ef;padding-bottom:10px">
         <div style="color:grey;margin-left:10px">
             <a href=<%= @submission.url %>>
                 <%= @submission.title %>
             </a>
             <br>
              submitted by <a href="/users/<%= @submission.user.id %>">
                <%=@submission.user.name%></a>
              <%=( (Time.now() - @submission.created_at)/3600).round %> hours ago 
              | <%= @comments.length %> comments
          </div>
              

         <div style="margin-left:20px">
                 <form action="/comments" method="POST" id="comment_content_form">
                     <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                     <% if current_user %>
                         <input type="hidden" name="comment[user_id]" value=<%=current_user.id %>>
                     <% else %>
                         <input type="hidden" name="comment[user_id]" value=<%= %>> <!-- definir q fer si no està logged -->
                     <% end %>
                     <input type="hidden" name="comment[submission_id]" value=<%=@submission.id %>>
                     <textarea name="comment[content]" value="" form="comment_content_form" style="min-width:500px;min-height:100px"></textarea>
                     <br>
                     <input type="submit" value="add comment">
                 </form>
         </div>
         <br>
         <br>
        
           <% @comments.each do |comentari| %>
               <div style="margin-left:10px">                    
                <table>
                  <tr>
                    <td><a href="/users/<%= comentari.user.id %>"><%= comentari.user.name %></a>
                    <a href="/comments/<%= comentari.id %>/new_reply">
                      <%=( (Time.now() - comentari.created_at)/3600).round %> hours ago</a></td>
                  </tr>
                  <tr>
                    <td style="color:grey;"> <%= comentari.content %></td>
                  </tr>
                </table>
                <a href="/comments/<%= comentari.id %>/new_reply">reply</a>
               </div>

                    <%@replies=Reply.where("comment_id=?",comentari.id).order("created_at DESC")%>
                        <% @replies.each do |reply| %>
                            <div style="color:grey;margin-left:25px">
                                <table>
                                  <tr>
                                    <td><a href="/users/<%= reply.comment.user.id %>"><%= reply.comment.user.name %></a>
                                    <a href="/comments/<%= reply.comment.id %>/new_reply">
                                      <%=( (Time.now() - reply.created_at)/3600).round %> hours ago</a></td>
                                  </tr>
                                  <tr>
                                    <td> <%= reply.content %></td>
                                  </tr>
                                </table>
                            </div>
                    <% end %>
            <br>
          <% end %>
     </div>
 </div>
</body> 